.vscode
SDL2.dll
a2sdl.exe
frontend/a2sdl/a2sdl
frontend/a2sdl/*.woz
frontend/a2sdl/*.dsk
frontend/a2sdl/*.po
frontend/a2sdl/*.2mg
frontend/a2fyne/a2fyne
frontend/headless/headless
frontend/*/snapshot.gif
frontend/*/snapshot.png
frontend/*/printer.out
.DS_STORE
