# A machine with Forth in ROM. No disks.
# See the documentation in: https://archive.org/details/forth79-A2/FORTH-79_A2Version_ReferenceManual/mode/2up
name: Apple ][+ with FORTH in ROM
parent: 2plus
s0: forthrom
s6: empty
# The card goes in slot 0. It doesn't boot if there is a Disk II card in slot 6
