# A machine with Forth in ROM. No disks.
# See the documentation in: https://archive.org/details/forth79-A2/FORTH-79_A2Version_ReferenceManual/mode/2up
name: Apple ][+ with FORTH in ROM
parent: _base
board: 2plus
rom: <internal>/Apple2_Forth.rom
charrom: <internal>/Apple2rev7CharGen.rom
forceCaps: true